<!DOCTYPE html>
<html>
<head>
	<title>Positive or Negative Shelter Outcome</title>
  <style>
  body{
    font-family: sans-serif;
  }
  .button {
    background-color: LightPink;
    border: none;
    color: Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .animal-card {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 10px 10px 0px #eee;
    width: 300px;
    margin: auto;
  }
  </style>

</head>

<body align="center">

  <h2>Enter in the attributes of the pet and we will predict the outcome.</h2>

  <form action="/pet_outcome/" method="post">

    <div class="animal-card" align="center">

      Species (cat or dog):
      <br>
        <input type="text" name="cat_dog">
      <br>

      Intake Age (days):
      <br>
        <input type="text" name="age">
      <br>

      Intake Status (good or poor):
      <br>
      	<input type="text" name="is_sick">
      <br>

    </div>

  <br>

  <button type="submit" class="button">
    What is the predicted outcome?
  </button>
  </form>

  <br>

  {% if message %}
  <h2>{{message}}</h2>
  {% endif %}

</body>
</html>
